/*------------------------------------*\
    #FUNCTIONS
\*------------------------------------*/

/*doc
---
title: Functions
name: functions
category: Tools
---

## Maths helpers
Halve and double numbers, returning rounded integers.

```
.foo {
    padding: quarter(3.2px);    // Returns 1
    margin: halve(7.9px);       // Returns 4
    height: double(36px);       // Returns 72
    width: quadruple(3.125px);  // Returns 12
}
```

*/

@function quarter($number) {
    @return round($number / 4);
}

@function halve($number) {
    @return round($number / 2);
}

@function double($number) {
    @return round($number * 2);
}

@function quadruple($number) {
    @return round($number * 4);
}

.foo {
    padding: quarter(3.2px);
    margin: halve(7.9px);
    height: double(36px);
    width: quadruple(3.1px);
}