/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/*doc
---
title: Mixins
name: mixins
category: Tools
---

## Font Size
Create a fully formed type style (sizing and vertical rhythm) by passing in a single value.

```
.foo {
    @include font-size(10px);
}
```

## Truncate
Force overly long spans of text to truncate.

```
.foo {
    @include truncate(100%);
}
```

## Media Queries
We define some broad breakpoints in our vars file that are picked up here
for use in a simple media query mixin.

Our options are:

 * palm
 * lap
 * lap-and-up
 * portable
 * desk

Not using a media query will, naturally, serve styles to all devices.

```
.foo {
    @include media-query(palm){
        // Styles here
    }
}
```

*/

@mixin font-size($font-size, $line-height: true) {
    font-size: $font-size;
    font-size: ($font-size / $base-font-size) * 1rem;

    @if $line-height == true {
        line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}



@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/**
 * We work out your end points for you:
 */
$palm-end:      $lap-start - 1px;
$lap-end:       $desk-start - 1px;

@mixin media-query($media-query) {
    @if $media-query == palm {
        @media only screen and (max-width: $palm-end) { @content; }
    }

    @if $media-query == lap {
        @media only screen and (min-width: $lap-start) and (max-width: $lap-end) { @content; }
    }

    @if $media-query == lap-and-up {
        @media only screen and (min-width: $lap-start) { @content; }
    }

    @if $media-query == portable {
        @media only screen and (max-width: $lap-end) { @content; }
    }

    @if $media-query == desk {
        @media only screen and (min-width: $desk-start) { @content; }
    }
}