/*------------------------------------*\
    #IMAGES
\*------------------------------------*/

/*doc
---
title: Images
name: images
category: Base
---

Fluid images for responsive purposes. If a `width` and/or `height` attribute have been explicitly defined, let’s not make the image fluid.

```html_example
<!-- Fluid width -->
<img src="http://placehold.it/1000x400">

<!-- Explicit width -->
<img src="http://placehold.it/400x300" width="400" height="300">

```

## Vertical align

Description | Class
----------- | ----------------
Top         | `img--top`
Middle      | `img--middle`
Bottom      | `img--bottom`
Baseline    | `img--baseline`

## Styling

Description | Class
----------- | ----------------
Circle      | `img--circle`
Round       | `img--round`

*/

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 */
img {
    max-width: 100%; /* [1] */
    font-style: italic; /* [2] */
}

img[width],
img[height] {
    max-width: auto;
}

    .img--top {
        vertical-align: top;
    }

    .img--middle {
        vertical-align: middle;
    }

    .img--bottom {
        vertical-align: bottom;
    }

    .img--baseline {
        vertical-align: baseline;
    }



    .img--circle {
        border-radius: 1000px;
    }

    .img--round {
        border-radius: $brand-round;
    }