/*------------------------------------*\
    #LINKS
\*------------------------------------*/

/*doc
---
title: Links
name: links
category: Base
---

Use `.plain` for links that don't have an underline on hover.

```html_example
<a href="#">Foobar</a>
<a href="#" class="plain">Barbaz</a>
```

*/

a {
    text-decoration: none;
    color: darken($base-brand-color, 15%);

    &:hover {
        text-decoration: underline;
        color: darken($base-brand-color, 25%);
    }
}

/*a*/.plain {
    text-decoration: none !important;
}