/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/*doc
---
title: Lists
name: lists
category: Base
---

```html_example
<ul>
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
</ul>

<ol>
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
</ol>

<dl>
    <dt>Foo</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
    <dt>Bar</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
    <dt>Baz</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
</dl>
```

*/

/**
 * Remove extra vertical spacing when nesting lists.
 */
li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

ul {
    list-style-type: square;
}

/**
 * Create some hierachy between `dt`s and `dl`s.
 */
dt {
    font-weight: bold;
}