/*------------------------------------*\
    #CPD
\*------------------------------------*/

/*doc
---
title: CPD
name: cpd
parent: card
---

```html_example
<div class="card 1/2">
    <div class="l">
        <div class="l__item 2/5">
            <div class="chart">
                <canvas id="cpdChart" height="400" width="400"></canvas>
            </div>
        </div>

        <div class="l__item 3/5">
            <h1 class="gamma">CPD Hours</h1>

            <div class="stat-group text--center">
                <dl class="stat mb0">
                    <dt class="stat__title">Logged</dt>
                    <dd class="stat__value beta">9:15</dd>
                </dl>

                <dl class="stat mb0">
                    <dt class="stat__title">Pending</dt>
                    <dd class="stat__value beta">3:30</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = [
            {
                value: 9.25,
                color: Mentor.settings.baseBrandColor,
                highlight: Mentor.settings.baseBrandColor,
                label: "Logged"
            },
            {
                value: 3.5,
                color: Mentor.settings.darkUiColor,
                highlight: Mentor.settings.darkUiColor,
                label: "Pending"
            },
            {
                value: 10.75,
                color: Mentor.settings.baseUiColor,
                highlight: Mentor.settings.baseUiColor,
                label: "Remaining"
            }
        ];

        var context = document.getElementById('cpdChart').getContext('2d');
        var cpdChart = new Chart(context).Doughnut(data);
    });
</script>
```

*/