/*------------------------------------*\
    #CARD
\*------------------------------------*/

/*doc
---
title: Card
name: card
category: Components
---

Component used to display various information such as course, pathway and module
summaries, user summaries, and statistics.

```html_example
<div class="card 1/3">
    <p class="lead">I'm a card!</p>
</div>
```

Use `.card--alt` when displaying cards outside of a container.

## Modifiers
Modifier    | Class
----------- | ----------------
Alt         | `card--alt`

*/

.card {
    @extend %box;
    @extend %brand-round;
    background-color: lighten($light-ui-color, 5%);
    border: 1px solid lighten($base-ui-color, 5%);
    border-bottom-color: darken($base-ui-color, 5%);
}

    .card--alt {
        background-color: $base-background-color;
    }