/*------------------------------------*\
    #COURSE
\*------------------------------------*/

/*doc
---
title: Course
name: course
parent: card
---

```html_example
<div class="card 1/2">
    <div class="l">
        <div class="l__item 2/5">
            <div class="chart">
                <canvas id="courseChart" height="400" width="400"></canvas>
            </div>
        </div>

        <div class="l__item 3/5">
            <h1 class="gamma">Risk Assesment</h1>

            <div class="stat-group">
                <dl class="stat mb0">
                    <dt class="stat__title">Pathways completed</dt>
                    <dd class="stat__value alpha">2 <small>of</small> 10</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = [
            {
                value: 2,
                color: Mentor.settings.baseBrandColor,
                highlight: Mentor.settings.baseBrandColor,
                label: "Complete"
            },
            {
                value: 8,
                color: Mentor.settings.baseUiColor,
                highlight: Mentor.settings.baseUiColor,
                label: "Remaining"
            }
        ];

        var context = document.getElementById('courseChart').getContext('2d');
        var courseChart = new Chart(context).Doughnut(data);
    });
</script>
```

*/