/*------------------------------------*\
    #ALERT
\*------------------------------------*/

/*doc
---
title: Alert
name: alert
category: Components
---

Alert the user of something that happened using an appropriate alert.
Include an anchor with the `.alert__close` class to make the alert dismissable.

```html_example
<div class="alert">
    <div class="l l--middle">
        <div class="alert__icon l__item 1/12">
            <i class="ss-icon ss-glyphish-line">Info</i>
        </div>
        <div class="alert__message l__item 10/12"><p><strong>Whoops!</strong><br>This is an alert!</p></div>
        <a class="alert__close l__item 1/12">&times;</a>
    </div>
</div>

<div class="alert alert--success">
    <div class="l l--middle">
        <div class="alert__icon l__item 1/12">
            <i class="ss-icon ss-glyphish-line">Check</i>
        </div>
        <div class="alert__message l__item 10/12"><p><strong>Whoops!</strong><br>This is an alert!</p></div>
        <a class="alert__close l__item 1/12">&times;</a>
    </div>
</div>

<div class="alert alert--warning">
    <div class="l l--middle">
        <div class="alert__icon l__item 1/12">
            <i class="ss-icon ss-glyphish-line">Question</i>
        </div>
        <div class="alert__message l__item 10/12"><p><strong>Whoops!</strong><br>This is an alert!</p></div>
        <a class="alert__close l__item 1/12">&times;</a>
    </div>
</div>

<div class="alert alert--error">
    <div class="l l--middle">
        <div class="alert__icon l__item 1/12">
            <i class="ss-icon ss-glyphish-line">Alert</i>
        </div>
        <div class="alert__message l__item 10/12"><p><strong>Whoops!</strong><br>This is an alert!</p></div>
        <a class="alert__close l__item 1/12">&times;</a>
    </div>
</div>
```

## Modifiers
Modifier    | Class
----------- | ----------------
Error       | `alert--error`
Warning     | `alert--warning`
Success     | `alert--success`

*/

.alert {
    @extend %box--small;
    @extend %brand-round;
    @extend %clearfix;

    background-color: $secondary-brand-color;
    border-top: 1px solid transparent;
    margin-bottom: $base-spacing-unit;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.alert--fixed {
    @extend .brand-shadow;
    animation: fadein 0.5s;
    position: fixed;
    z-index: 100;
    top: $base-spacing-unit;
    right: $base-spacing-unit;
}

.alert__icon {
    @include font-size(38px);
    text-align: center;
    opacity: .75;
    line-height: 1;
    padding: quarter($base-spacing-unit) 0 0 $base-spacing-unit + quarter($base-spacing-unit);
}

.alert__message {
    > p {
        margin: 0;
    }

}

.alert__close {
    text-align: center;
    @extend %alpha;

    color: inherit;
    cursor: pointer;
    opacity: .5;
    line-height: $base-line-height;

    &:hover {
        color: inherit;
        opacity: .75;
        text-decoration: none;
    }
}

    .alert--success {
        background-color: $success-color;
    }

    .alert--warning {
        background-color: $warning-color;
    }

    .alert--error {
        background-color: $error-color;
    }