/*------------------------------------*\
    #CONTEXTUAL-MENU
\*------------------------------------*/

/*doc
---
title: Contextual Menu
name: contextual-menu
category: Components
---

The menu trigger _must_ have a `tabindex` attribute set so that it can recieve
focus. The default value of `0` sets the `tabindex` dynamically in order
of appearance.

```html_example
<div class="contextual-menu">
    <a class="btn">Button Text</a>

    <div class="contextual-menu__content inverse-background inverse-color">
        <ul class="bare-list pv--">
            <li><a href="#" class="ph pv--">Test Link</a></li>
            <li><a href="#" class="ph pv--">Test Link</a></li>
        </ul>
    </div>
</div>

<div class="contextual-menu">
    <a>Link Text</a>

    <div class="contextual-menu__content inverse-background inverse-color">
        <ul class="bare-list pv--">
            <li><a href="http://google.com/" class="ph pv--">Google</a></li>
            <li><a href="http://google.com/" class="ph pv--">Google</a></li>
        </ul>
    </div>
</div>
```

*/

.contextual-menu {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.contextual-menu__content {
    @extend %brand-round;

    position: absolute;
    margin-top: 5px;
    top: 100%;
    left: 0;

    text-align: left;

    display: none;
    white-space: nowrap;
    z-index: 10;

    &:before {
        background-color: transparent;
        border: solid transparent 8px;
        border-bottom-color: $base-text-color;
        content: " ";
        position: absolute;
        height: 8px; width: 8px;
        top: -16px; left: 16px;
    }

    a {
        display: block;

        &:hover {
            text-decoration: none;
            background-color: rgba($base-background-color, 0.1);
        }
    }
}