/*------------------------------------*\
    #SITE-NAV
\*------------------------------------*/

/*doc
---
title: Site Nav
name: site-nav
category: Components
---

The application's main navigation.

```html_example
<header class="site-nav ph">
    <div class="l">
        <div class="l__item 1/3 text--left">
            <div class="pt">
                <a href="/">
                    <img src="/dist/images/logo.svg" height="45" width="74" class="-mt- img--middle">
                </a>

                <a href="/" class="gamma plain weight--bold">Mentor</a>
            </div>
        </div>

        <div class="l__item 2/3 text--right">
            <ul class="nav pv">
                <li class="pl">
                    <a href="#">Dashboard</a>
                </li>

                <li class="pl">
                    <a href="#">Pathways</a>
                </li>

                <li class="pl">
                    <a href="#">Library</a>
                </li>

                <li class="pl">
                    <a href="#">Me</a>
                </li>

                <li class="pl">
                    <a href="#">My Board</a>
                </li>
            </ul>
        </div>
    </div>
</header>
```

*/

.site-nav {
    background-color: $base-text-color;

    &, a {
        color: $light-ui-color;
    }
}