/*------------------------------------*\
    #TOOLTIP
\*------------------------------------*/

/*doc
---
title: Tooltip
name: tooltip
category: Components
---

Simple tooltips; add `data-tooltip` to almost any element for a tooltip on hover.

```html_example
<a class="btn" data-tooltip="Hello world!">Hover me</a>
```

*/

[data-tooltip] {
    cursor: help;
    position: relative;

    &:after {
        content: normal;
    }

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;

        &:before, &:after {
            visibility: visible;
        }
    }

    &:before, &:after {
        display: block;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        visibility: hidden;
        z-index: 10;
    }

    &:after {
        @include font-size(16px);
        font-weight: normal;
        @extend %brand-round;
        background-color: $base-text-color;
        color: $base-background-color;
        content: attr(data-tooltip);
        padding: quarter($base-spacing-unit) halve($base-spacing-unit);
        top: 100%;
        white-space: nowrap;
    }

    &:before {
        border: solid transparent 8px;
        border-bottom-color: $base-text-color;
        bottom: 0;
        content: " ";
        height: 8px;
        width: 8px;
    }
}