/*------------------------------------*\
    #TRUNCATE
\*------------------------------------*/

/*doc
---
title: Truncate
name: truncate
category: Components
---

Truncated text which shows full text on focus.

The component _must_ have a `tabindex` attribute set so that it can recieve
focus. The default value of `0` sets the `tabindex` dynamically in order
of appearance.

```html_example
<div class="truncate" tabindex="0" data-truncate="Nulla vel mauris quis justo mollis iaculis">
    <div class="truncate__content">
        <p>Vivamus varius consequat orci, vel iaculis risus egestas nec. Donec odio elit, vehicula sed nunc vitae, elementum malesuada nisi. Nam condimentum odio pellentesque purus aliquet, id sodales eros semper. Nulla eu hendrerit ipsum. Suspendisse dapibus urna nisl, quis pretium augue congue id. Donec pellentesque dignissim arcu, et pellentesque lectus fermentum ac.</p>
    </div>
</div>
```

*/

.truncate {
    cursor: pointer;

    &:hover {
        &:after {
            background-color: darken($base-brand-color, 15%);
        }
    }

    &:before {
        content: attr(data-truncate);
        display: inline;
    }

    &:after {
        content: "More…";
        background-color: $base-brand-color;
        border-radius: $brand-round;
        color: $base-background-color;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        line-height: 1;
        padding: 2px 5px;
        text-transform: uppercase;
    }

    &:focus {
        outline: none;
        pointer-events: none;

        &:before {
            display: none;
        }

        &:after {
            content: "Less";
        }

        .truncate__content {
            display: block;
        }
    }
}

.truncate__content {
    display: none;
}
