/*------------------------------------*\
    #UPLOADS
\*------------------------------------*/

/*doc
---
title: Uploads
name: uploads
category: Components
---

```html_example
<div class="upload">
    <div class="upload__actions mb-">
        <div class="upload__clickable card p+ text--center">
            <i class="ss-icon ss-glyphish line giga">uploadcloud</i>
            <p class="gamma">Drag files, or click to upload&hellip;</p>
        </div>
    </div>

    <ul class="ui-list upload__files">

    </ul>
</div>
```

*/

.upload {
    &.dz-drag-hover > .upload__actions {
        opacity: 0.5;
        transition: 300ms;
    }

    &.dz-max-files-reached > .upload__actions {
        display: none;
    }
}

    .upload__clickable {
        cursor: pointer;
    }

    .upload__files {
        .progress {
            display: none;
        }
    }

    .dz-processing {
        .progress {
            display: block;
        }
    }

    .dz-success {
        .progress {
            display: none;
        }
    }