.vex {
  padding-top: 160px;
  padding-bottom: 160px;
}

.vex-content{
  font-size: ($base-font-size / 16px) * 1em;
  line-height: $base-line-height / $base-font-size;
  color: $base-text-color;
  font-family: $base-font-family;

  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 450px;

  @extend .container;
}

.vex-dialog-message,
.vex-dialog-input {
  margin-bottom: halve($base-spacing-unit);
}

.vex-dialog-prompt-input {
  @extend .text-input;
  width: 100%;
}

.vex-dialog-buttons {
  text-align: right;
}

.vex-dialog-button {
  @extend .btn;
  @extend .btn--small;

  margin-right: quarter($base-spacing-unit);

  &.vex-last {
    margin-right: 0;
  }

  &:focus {
    outline: none;
  }

  &.vex-dialog-button-secondary {
    @extend .btn--ui;
  }
}

.vex-close {
  background-color: $base-brand-color;
  border-bottom: 1px solid darken($base-brand-color, 15%);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: $base-font-size * 1.5;
  height: $base-spacing-unit * 1.25;
  line-height: $base-spacing-unit * 1.25;
  position: absolute;
  right: 0 - halve($base-spacing-unit);
  text-align: center;
  top: 0 - halve($base-spacing-unit);
  width: $base-spacing-unit * 1.25;

  &:hover {
    background-color: darken($base-brand-color, 15%)
  }
}



