/*------------------------------------*\
    #ARTICLE
\*------------------------------------*/

/*doc
---
title: Article
name: article
category: Objects
---

Simple object to make long-format text more digestible.

```html_example
<article class="article">
    <h1>Article Title</h1>

    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis, dolor at tempor aliquet, odio dolor tristique ligula, ut lobortis orci ligula a est. Proin et molestie nulla, sed bibendum lectus.</p>

    <p>Proin vehicula tristique tristique. Nulla eleifend ipsum non aliquam rutrum. Nulla vitae consequat arcu. Vivamus eget ultrices ipsum, sit amet pellentesque eros. Duis non nisl feugiat, volutpat velit pellentesque, faucibus mi. Sed nec ipsum lectus.</p>

    <ul>
        <li>Aliquam diam velit, vehicula quis </li>
        <li>Mollis sed, auctor vitae diam. </li>
        <li>Fusce pellentesque interdum ipsum sed sodales.</li>
    </ul>

    <p>Vivamus varius consequat orci, vel iaculis risus egestas nec. Donec odio elit, vehicula sed nunc vitae, elementum malesuada nisi. Nam condimentum odio pellentesque purus aliquet, id sodales eros semper. Nulla eu hendrerit ipsum. Suspendisse dapibus urna nisl, quis pretium augue congue id. Donec pellentesque dignissim arcu, et pellentesque lectus fermentum ac.</p>
</article>
```

*/

.article,
%article {
    @include font-size(17px);

    font-family: "source-serif-pro";

    .lede {
        font-size: 120%;
    }

    h1, h2, h3,
    h4, h5, h6 {
        font-weight: 600;
        font-family: $base-font-family;
    }
}