/*------------------------------------*\
    #BARE-LIST
\*------------------------------------*/

/*doc
---
title: Bare List
name: bare-list
category: Objects
---

The bare-list object simply removes any indents and bullet points from lists.

```html_example
<ul class="bare-list">
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
</ul>
```
*/

.bare-list,
%bare-list {
    margin: 0;
    padding: 0;
    list-style: none;
}