/*------------------------------------*\
    #BLOCK-LIST
\*------------------------------------*/

/*doc
---
title: Block List
name: block-list
category: Objects
---

The block list object creates blocky list items out of a `ul` or `ol`.

```html_example
<ul class="block-list">
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
</ul>
```

## Modifiers

Modifier         | Class
---------------- | -------------------
Small block list | `block-list--small`
Large block list | `block-list--large`

*/

/**
 * Predefine the variables below in order to alter and enable specific features.
 */
$block-list-padding:          $base-spacing-unit            !default;
$block-list-padding--small:   halve($block-list-padding)    !default;
$block-list-padding--large:   double($block-list-padding)   !default;



.block-list,
%block-list {
    margin:  0;
    padding: 0;
    list-style: none;

    > li {
        @extend %block-list__item;
    }
}

    .block-list__item,
    %block-list__item {
        padding: $block-list-padding;
    }

    /**
     * Small block-lists.
     */
    .block-list--small,
    %block-list--small {

        > .block-list__item,
        > %block-list__item {
            padding: $block-list-padding--small;
        }
    }

    /**
     * Large block-lists.
     */
    .block-list--large,
    %block-list--large {

        > .block-list__item,
        > %block-list__item {
            padding: $block-list-padding--large;
        }
    }