/*------------------------------------*\
    #BOX
\*------------------------------------*/

/*doc
---
title: Box
name: box
category: Objects
---

The box object simply boxes off content.

```html_example
<div class="box">
    <p>Boxed-off content.</p>
</div>
```
## Modifiers

Modifier  | Class
--------- | ------------
Small box | `box--small`
Large box | `box--large`

*/

$box-padding:           $base-spacing-unit      !default;
$box-padding--small:    halve($box-padding)     !default;
$box-padding--large:    double($box-padding)    !default;



/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
.box,
%box {
    @extend %clearfix;
    display: block; /* [1] */
    padding: $box-padding;

    > :last-child {
        margin-bottom: 0;
    }
}

    /**
     * Small box.
     */
    .box--small,
    %box--small {
        padding: $box-padding--small;
    }

    /**
     * Large box.
     */
    .box--large,
    %box--large {
        padding: $box-padding--large;
    }