/*------------------------------------*\
    #BREADCRUMB
\*------------------------------------*/

/*doc
---
title: Breadcrumb
name: breadcrumb
category: Objects
---

Simple breadcrumb styling to apply to (ordered) lists.

```html_example
<ul class="breadcrumb">
    <li class="breadcrumb__root"><a href="#">Foo</a></li>
    <li><a href="#">Bar</a></li>
    <li><a href="#">Baz</a></li>
</ul>
```

## Path stuctures
For denoting a path-like structure, GitHub style.

```html_example
<ul class="breadcrumb breadcrumb--path">
    <li class="breadcrumb__root"><a href="#">Foo</a></li>
    <li><a href="#">Bar</a></li>
    <li><a href="#">Baz</a></li>
</ul>
```

*/

.breadcrumb {
    @extend %nav;

    > li + li:before {
        content: "\00BB" "\00A0";
        color: $dark-ui-color;
    }
}

    .breadcrumb--path > li + li:before{
        content: "\002F" "\00A0";
    }

    .breadcrumb__root{
        font-weight: bold;
    }