/*------------------------------------*\
    #BULLET
\*------------------------------------*/

/*doc
---
title: Bullet
name: bullet
category: Objects
---

Small, coloured circle that sits before a heading to denote a topic area.

```html_example
<p class="beta">
    <i class="bullet technology-background"></i> Technology
</p>
```

## Modifiers
Modifier    | Class
----------- | ---------------
Small       | `bullet--small`
Large       | `bullet--large`

*/

.bullet,
%bullet {
    display: inline-block;
    background-color: $base-text-color;
    border-radius: 1000px;
    vertical-align: middle;
    margin-top: -2px;

    height: $base-spacing-unit / 3;
    width: $base-spacing-unit / 3;
}

    .bullet--small,
    %bullet--small {
        height: $base-spacing-unit / 4;
        width: $base-spacing-unit / 4;
    }

    .bullet--large,
    %bullet--large {
        height: $base-spacing-unit / 2;
        width: $base-spacing-unit / 2;
    }