/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/*doc
---
title: Buttons
name: buttons
category: Objects
---

A simple button object.

```html_example
<a href="#" class="btn">Push Me</a>
```

## Sizes

Modifier                                            | Class
--------------------------------------------------- | ----------------
<a href="#" class="btn btn--small">Small Button</a> | `btn--small`
<a href="#" class="btn btn--large">Large Button</a> | `btn--large`
<a href="#" class="btn btn--full">Full Button</a>   | `btn--full`
<a href="#" class="btn btn--pill">Pill</a>          | `btn--pill`

## Colors

Modifier                                        | Class
----------------------------------------------- | ----------------
<a href="#" class="btn btn--ui">UI Button</a>   | `btn--ui`

*/

$btn-padding:         halve($base-spacing-unit) !default;
$btn-padding--small:  halve($btn-padding)       !default;
$btn-padding--large:  double($btn-padding)      !default;



/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 * 7. Subtract the border size from the padding value so that buttons do not
 *    grow larger as we add borders.
 */
.btn,
%btn {
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    border: none; /* [4] */
    margin: 0; /* [4] */
    cursor: pointer; /* [5] */
    overflow: visible; /* [6] */
    white-space: nowrap;
    padding: $btn-padding - 1px double($btn-padding); /* [7] */

    background-color: $base-brand-color;
    border-radius: $brand-round;

    border-top: 1px solid transparent;
    border-bottom: 1px solid darken($base-brand-color, 15%);

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none; /* [4] */
        color: $base-background-color;
    }

    &:hover {
        background-color: darken($base-brand-color, 15%);
    }
}

/**
 * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
 */
.btn::-moz-focus-inner,
%btn::-moz-focus-inner {
    border:  0;
    padding: 0;
}

    .btn--small,
    %btn--small {
        padding: $btn-padding--small - 1px double($btn-padding--small); /* [7] */
    }

    .btn--large,
    %btn--large {
        padding: $btn-padding--large - 1px double($btn-padding--large); /* [7] */
    }

    .btn--full,
    %btn--full {
        width: 100%;
    }

    .btn--pill,
    %btn--pill {
        border-radius: 100px; /* [1] */
    }

    .btn--ui {
        background-color: $dark-ui-color;
        border-bottom: 1px solid darken($dark-ui-color, 15%);

        &:hover {
            background-color: darken($dark-ui-color, 15%);
        }
    }