/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

/*doc
---
title: Container
name: container
category: Objects
---

A simple container for main body content.

```html_example
<div class="container">
    <p>Body content&hellip;</p>
</div>
```

*/

.container {
    @extend %brand-round;
    @extend %brand-shadow;
    background-color: $base-background-color;
    padding: $base-spacing-unit;
}