/*------------------------------------*\
    #FLYOUT
\*------------------------------------*/

/*doc
---
title: Flyout
name: flyout
category: Objects
---

Flyouts are pieces of content that fly out of a parent when said parent is
hovered. They typically appear bottom-left of the parent.

Regular flyouts sit all the way from the top, flush left.

```html_example
<a href="#" class="btn flyout">
    Foo
    <div class="flyout__content base-background base-color brand-shadow brand-round">
        <p class="p-">Some example content.</p>
    </div>
</a>
```

Alternative flyouts sit all the way from the left, flush top.

```html_example
<a href="#" class="btn flyout flyout--alt">
    Foo
    <div class="flyout__content base-background base-color brand-shadow brand-round">
        <p class="p-">Some example content.</p>
    </div>
</a>
```

*/

.flyout,
.flyout--alt {
    position: relative;
    overflow: hidden;
}

    .flyout__content {
        /**
         * Position the flyouts off-screen. This is typically better than
         * `display: none;`.
         */
        position: absolute;
        top: 100%;
        left: -99999px;
    }

    /**
     * Bring the flyouts into view when you hover their parents.
     * Two different types of flyout; ‘regular’ (`.flyout`) and ‘alternative’
     * (`.flyout--alt`).
     */
    .flyout:hover,
    .flyout--alt:hover {
        overflow: visible;
    }

    .flyout:hover > .flyout__content {
        left: 0;
    }

    .flyout--alt:hover > .flyout__content {
        top: 0;
        left: 100%;
    }
