/*------------------------------------*\
    #LOADING-INDICATOR
\*------------------------------------*/

/*doc
---
title: Loading Indicator
name: loading-indicator
category: Objects
---

```html_example
<div class="loading-indicator">
    <i class="ss-icon ss-glyphish-filled giga">Refresh</i>
</div>
```

*/

.loading-indicator {
    animation: spin 600ms infinite;
    animation-timing-function: linear;
    transform-origin: 50% 40%;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}