/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

/*doc
---
title: Media
name: media
category: Objects
---

Place any image- and text-like content side-by-side, as per [Stubbornella](http://stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code).

```html_example
<div class="media">
    <img src="http://placehold.it/75x75" class="media__img">

    <div class="media__body">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
    </div>
</div>
```
*/

.media,
%media {
    @extend %clearfix;
    display: block;
}

    .media__img,
    %media__img {
        float: left;
        margin-right: $base-spacing-unit;

        > img {
            display: block;
        }
    }

    .media__body,
    %media__body {
        overflow: hidden;
        display: block;

        &,
        > :last-child {
            margin-bottom: 0;
        }
    }
