/*------------------------------------*\
    #PROGRESS-BAR
\*------------------------------------*/

/*doc
---
title: Progress Bar
name: progress
category: Objects
---

Simple progress bar. Couple the `.progress__filling` element with a width class
to denote progression.

```html_example
<div class="progress">
    <span class="progress__filling 5/12"></span>
</div>
```

Fillings can be stacked, and coupled with a background helper class.

```html_example
<div class="progress">
    <span class="progress__filling dynamics-background 5/12"></span><!--
 --><span class="progress__filling marketing-background 2/12"></span><!--
 --><span class="progress__filling strategy-background 1/12"></span>
</div>
```

## Modifiers

Modifier           | Class
------------------ | -----------------
Small progress bar | `progress--small`
Large progress bar | `progress--large`

*/

$progress-height:         $base-spacing-unit            !default;
$progress-height--small:  halve($base-spacing-unit)     !default;
$progress-height--large:  double($base-spacing-unit)    !default;

$progress-background-color:     $light-ui-color     !default;
$progress-filling-color:        $base-brand-color   !default;



.progress,
%progress {
    background-color: $progress-background-color;
    border-radius: $brand-round;
    height: $progress-height;
    font-size: 0;
}

    /**
     * Fill the bar according to progress using a width class, e.g. `5/12`.
     */
    .progress__filling,
    %progress__filling {
        background-color: $progress-filling-color;
        display: inline-block;
        height: 100%;
        position: relative;

        &:first-of-type {
            border-top-left-radius: $brand-round;
            border-bottom-left-radius: $brand-round;
        }

        &:last-of-type {
            border-top-right-radius: $brand-round;
            border-bottom-right-radius: $brand-round;
        }
    }

    /**
     * Small progress bar.
     */
    .progress--small,
    %progress--small {
        height: $progress-height--small;
    }

    /**
     * Large progress bar.
     */
    .progress--large,
    %progress--large {
        height: $progress-height--large;
    }
