/*------------------------------------*\
    #RANGE
\*------------------------------------*/

/*doc
---
title: Range
name: range
category: Objects
---

Slider object to specify numeric amounts.

```html_example
<input type="range" min="0" max="20">
```

*/

input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: $base-background-color;
    border-radius: 3px;
    border: 1px solid $base-ui-color;
    cursor: col-resize;
    height: 5px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: $base-brand-color;
    border-radius: 1000px;
    height: $base-spacing-unit * .75;
    width: $base-spacing-unit * .75;
}
