/*------------------------------------*\
    #RULES
\*------------------------------------*/

/*doc
---
title: Rules
name: rules
category: Objects
---

Horizontal rules, extend `hr`.

```html_example
<hr class="rule">
```

## Modifiers

Modifier    | Class
----------- | --------------
Dotted rule | `rule--dotted`
Dashed rule | `rule--dashed`

*/

.rule {
    color: $base-ui-color;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: $base-spacing-unit - 1px;
    margin-bottom: (($base-spacing-unit - 1px) / $base-font-size)*1rem;
}

    .rule--dotted {
        border-bottom-style: dotted;
    }

    .rule--dashed {
        border-bottom-style: dashed;
    }

hr:not([class]) {
    @extend .rule;
}