/*------------------------------------*\
    #SCROLL-PANE
\*------------------------------------*/

/*doc
---
title: Scroll Pane
name: scroll-pane
category: Objects
---

Simple object which scrolls vertically on overflow. Include a `max-height` style to specify the overflow height.

```html_example
<div class="scroll-pane" style="max-height:400px">
    <ul class="ui-list">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ul>
</div>
```

*/

.scroll-pane {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}