/*------------------------------------*\
    #SHEET
\*------------------------------------*/

/*doc
---
title: Sheet
name: sheet
category: Objects
---

```html_example
<div class="sheet">
    <div class="sheet__item  base-background brand-round brand-shadow">
        <div class="p-">
            <a class="gamma" href="#">Foo</a>
        </div>

        <div class="sheet__item  base-background brand-round brand-shadow">
            <div class="p-">
                <a class="gamma" href="#">Bar</a>
            </div>

            <div class="sheet__item  base-background brand-round brand-shadow">
                <div class="p">
                    <p class="gamma">Baz</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                </div>
            </div>
        </div>
    </div>
</div>
```

*/

.sheet {
    @extend %clearfix;
    margin-left: -$base-spacing-unit;
    position: relative;
    width: 100%;
}

    .sheet__item,
    %sheet__item {
        bottom: -$base-spacing-unit;
        margin-left: $base-spacing-unit;
        margin-right: -$base-spacing-unit;
        margin-top: -$base-spacing-unit;
        position: relative;
    }