/*------------------------------------*\
    #SLAT
\*------------------------------------*/

/*doc
---
title: Slat
name: slat
category: Objects
---

```html_example
<div class="slat">
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
</div>
```

## Modifiers

Modifier   | Class
-----------| -------------
Small slat | `slat--small`
Large slat | `slat--large`

*/

$slat-padding:          $base-spacing-unit      !default;
$slat-padding--small:   halve($box-padding)     !default;
$slat-padding--large:   double($box-padding)    !default;

$slat-border-width:     1px             !default;
$slat-border-style:     solid           !default;
$slat-border-color:     $base-ui-color  !default;



.slat,
%slat {
    @extend %clearfix;
       border-top: $slat-border-width $slat-border-style $slat-border-color;
    border-bottom: $slat-border-width $slat-border-style $slat-border-color;
    display: block;
    padding: $slat-padding halve($slat-padding);

    > :last-child {
        margin-bottom: 0;
    }
}

    .slat--small,
    %slat--small {
        padding: $slat-padding--small halve($slat-padding--small);
    }

    .slat--large,
    %slat--large {
        padding: $slat-padding--large halve($slat-padding--large);
    }