/*------------------------------------*\
    #TABLES
\*------------------------------------*/

/*doc
---
title: Tables
name: tables
category: Objects
---

A simple button object.

```html_example
<table class="table--cosy table--cells">
    <thead>
        <th>Foo</th>
        <th>Bar</th>
        <th>Baz</th>
    </thead>

    <tr>
        <td>Pellentesque habitant morbi tristique senectus</td>
        <td>Netus et malesuada fames ac turpis egestas</td>
        <td>Donec eu libero sit amet quam</td>
    </tr>
</table>
```

## Spacing

Modifier                                      | Class
--------------------------------------------- | ----------------
Force tables into having equal-width columns. | `table--fixed`
Tables with very tightly packed cells.        | `table--compact`
Lightly packed cells.                         | `table--cosy`
Tables with very widely padded cells.         | `table--comfy`

## Borders

Modifier                                      | Class
--------------------------------------------- | ----------------
Add borders around a `table`.                 | `table--cells`
Add borders only to `table`’s rows.           | `table--rows`
Add borders only to `table`’s columns.        | `table--columns`

*/

$table-padding--compact:  quarter($base-spacing-unit) !default;
$table-padding--cosy:     halve($base-spacing-unit) !default;
$table-padding--comfy:    $base-spacing-unit !default;

$table-border-width:      1px             !default;
$table-border-style:      solid           !default;
$table-border-color:      $base-ui-color  !default;


table,
.table,
%table {
    width: 100%;
}

    /**
     * Force tables into having equal-width columns.
     */
    .table--fixed,
    %table--fixed {
        table-layout: fixed;
    }

    /**
     * Tables with very tightly packed cells.
     */
    .table--compact,
    %table--compact {
        th,
        td {
            padding: $table-padding--compact;
        }
    }

    /**
     * Lightly packed cells.
     */
    .table--cosy,
    %table--cosy {
        th,
        td {
            padding: $table-padding--cosy;
        }
    }

    /**
     * Tables with very widely padded cells.
     */
    .table--comfy,
    %table--comfy {
        th,
        td {
            padding: $table-padding--comfy;
        }
    }

    /**
     * Add borders around a `table`.
     */
    .table--cells,
    %table--cells {
        th,
        td {
            border: $table-border-width $table-border-style $table-border-color;
        }
    }

    /**
     * Add borders only to `table`’s rows.
     */
    .table--rows,
    %table--rows {
        &,
        th,
        td {
            border: 0 $table-border-style $table-border-color;
        }
    }

    .table--rows,
    %table--rows {
        border-top-width: $table-border-width;

        th,
        td {
            border-bottom-width: $table-border-width;
        }
    }

    /**
     * Add borders only to `table`’s columns.
     */
    .table--columns,
    %table--columns {
        &,
        th,
        td {
            border: 0 $table-border-style $table-border-color;
        }
    }

    .table--columns,
    %table--columns {
        border-left-width: $table-border-width;

        th,
        td {
            border-right-width: $table-border-width;
        }
    }