/*------------------------------------*\
    #TABS
\*------------------------------------*/

/*doc
---
title: Tabs
name: tabs
category: Objects
---

A simple abstraction for making equal-width navigation tabs.

```html_example
<ul class="tabs">
    <li class="tabs__item"><a href="#" class="tabs__link tabs__link--active">Foo</a></li>
    <li class="tabs__item"><a href="#" class="tabs__link">Bar</a></li>
    <li class="tabs__item"><a href="#" class="tabs__link">Baz</a></li>
    <li class="tabs__item"><a href="#" class="tabs__link">Bar</a></li>
    <li class="tabs__item"><a href="#" class="tabs__link">Baz</a></li>
</ul>
```

## Modifiers

Modifier      | Class
--------------| ----------------
Small UI list | `ui-list--small`
Large UI list | `ui-list--large`

*/

/**
 * 1. Tables for layout!
 * 2. Force all `table-cell` children to have equal widths.
 * 3. Force the object to be the full width of its parent. Combined with [2],
 *    this makes the object behave in a quasi-`display: block;` manner.
 */

.tabs,
%tabs {
    @extend %bare-list;
    display: table; /* [1] */
    table-layout: fixed; /* [2] */
    width: 100%; /* [3] */
    text-align: center;
}

    .tabs__item,
    %tabs__item {
        display: table-cell; /* [2] */
    }

        .tabs__link,
        %tabs__link {
            @extend %brand-round--top;
            border-bottom: 1px solid $base-ui-color;
            display: block;
            padding: halve($base-spacing-unit) 0;

            &:hover {
                background-color: $light-ui-color
            }
        }

        .tabs__item[active] > a,
        .tabs__link--active,
        %tabs__link--active {
            border: 1px solid $base-ui-color;
            border-bottom: none;

            &:hover {
                border-bottom: 1px solid $light-ui-color;
            }
        }