/*------------------------------------*\
    #TEXT-INPUT
\*------------------------------------*/

/*doc
---
title: Text Input
name: text-input
category: Objects
---

Text inputs can be combined with width classes (e.g. `.1/2`).

```html_example
<ul class="form-fields">
    <li><input type="text" class="text-input" placeholder="Text input regolare"></li>
    <li><input type="text" class="text-input text-input--small" placeholder="Text input piccolo"></li>
    <li><input type="text" class="text-input text-input--large" placeholder="Text input grande"></li>
</ul>
```

## Sizes

Modifier     | Class
------------ | --------------------
Small input  | `text-input--small`
Large input  | `text-input--large`
Spoken input | `text-input--spoken`


```html_example
<ul class="form-fields">
    <li><input type="text" class="text-input text-input--error" placeholder="Invalid text input"></li>
    <li><input type="text" class="text-input text-input--warning" placeholder="Warning text input"></li>
    <li><input type="text" class="text-input text-input--success" placeholder="Valid text input"></li>
</ul>
```

## States

Modifier    | Class
----------- | ---------------------
Error       | `text-input--error`
Warning     | `text-input--warning`
Success     | `text-input--success`


*/

$input-font-size:         16px    !default;
$input-font-size--small:  13px    !default;
$input-font-size--large:  20px    !default;


%text-input,
.text-input {
    @include font-size($input-font-size, falset);

    -webkit-appearance: none;
    padding: quarter($base-spacing-unit) halve($base-spacing-unit);

    background-color: $base-background-color;
    border: 1px solid $base-ui-color;
    border-top-color: darken($base-ui-color, 15%);
    border-radius: $brand-round;

    &:focus {
        border-color: $base-brand-color;
        outline: none;
    }
}

    %text-input--small,
    .text-input--small {
        @include font-size($input-font-size--small, falset);
    }

    %text-input--large,
    .text-input--large {
        @include font-size($input-font-size--large, falset);
    }



    %text-input--error,
    .text-input--error input,
    .text-input--error select,
    input.text-input--error {
        background-color: rgba($error-color, .5);

        &:focus {
            background-color: $base-background-color;
        }
    }

    %text-input--warning,
    .text-input--warning input,
    .text-input--warning select,
    input.text-input--warning {
        background-color: rgba($warning-color, .5);

        &:focus {
            background-color: $base-background-color;
        }
    }

    %text-input--success,
    .text-input--success input,
    .text-input--success select,
    input.text-input--success {
        background-color: rgba($success-color, .5);

        &:focus {
            background-color: $base-background-color;
        }
    }



    %text-input--spoken,
    .text-input--spoken {
        border-radius: 0;
        border-width: 0;
        border-bottom: 1px dotted $dark-ui-color;
        font-size: inherit;
        padding: 0;
        text-align: center;
    }