/*------------------------------------*\
    #TEXT-AREA
\*------------------------------------*/

/*doc
---
title: Text Area
name: text-area
category: Objects
---

Text areas can be combined with width classes (e.g. `.1/2`).

```html_example
<ul class="form-fields">
    <li>
        <textarea class="textarea 1/2" rows="4">I am but a simple textarea...</textarea>
    </li>

    <li>
        <textarea class="textarea textarea--small 1/2" rows="4">I am but a small textarea...</textarea>
    </li>

    <li>
        <textarea class="textarea textarea--large 1/2" rows="4">I am but a large textarea...</textarea>
    </li>
</ul>
```

## Sizes

Modifier       | Class
-------------- | -------------------
Small textarea | `textarea--small`
Large textarea | `textarea--large`


```html_example
<ul class="form-fields">
    <li><textarea class="textarea textarea--error">Error!</textarea></li>
    <li><textarea class="textarea textarea--warning">Warning!</textarea></li>
    <li><textarea class="textarea textarea--success">Success!</textarea></li>
</ul>
```

## States

Modifier    | Class
----------- | ---------------------
Error       | `textarea--error`
Warning     | `textarea--warning`
Success     | `textarea--success`

*/

%textarea,
.textarea {
    @extend %text-input;
}

    %textarea--small,
    .textarea--small {
        @extend %text-input--small;
    }

    %textarea--large,
    .textarea--large {
        @extend %text-input--large;
    }

    %textarea--error,
    .textarea--error {
        @extend %text-input--error;
    }

    %textarea--warning,
    .textarea--warning {
        @extend %text-input--warning;
    }

    %textarea--success,
    .textarea--success {
        @extend %text-input--success;
    }