/*------------------------------------*\
    #THIS-OR-THIS
\*------------------------------------*/

/*doc
---
title: This or This
name: this-or-this
category: Objects
---

Simple options object to provide multiple choices.

```html_example
<h1 class="this-or-this">
    <a href=# class="this-or-this__this 2/5">
        Free
    </a>

    <span class="this-or-this__or 1/5">
        or
    </span>

    <a href=# class="this-or-this__this 2/5">
        Pro
    </a>
</h1>
```

*/

.this-or-this {
    display: table;
    width: 100%;
    text-align: center;
}

    .this-or-this__this,
    .this-or-this__or {
        display: table-cell;
        vertical-align: middle;
    }