/*------------------------------------*\
    #UI-LIST
\*------------------------------------*/

/*doc
---
title: UI List
name: ui-list
category: Objects
---

The UI list object creates blocky list items with a keyline separator out of a `ul` or `ol`.

```html_example
<ul class="ui-list">
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
</ul>
```

## Modifiers

Modifier      | Class
--------------| ----------------
Small UI list | `ui-list--small`
Large UI list | `ui-list--large`

*/

$ui-list-padding:         $base-spacing-unit        !default;
$ui-list-padding--small:  halve($ui-list-padding)   !default;
$ui-list-padding--large:  double($ui-list-padding)  !default;

$ui-list-border-width:    1px               !default;
$ui-list-border-style:    solid             !default;
$ui-list-border-color:    $base-ui-color    !default;



.ui-list,
%ui-list,
    .ui-list__item,
    %ui-list__item {
        border: 0 $ui-list-border-style $ui-list-border-color;
    }

.ui-list,
%ui-list {
    margin:  0;
    padding: 0;
    list-style: none;
    border-top-width: $ui-list-border-width;

    > li {
        @extend %ui-list__item;
    }

}

    .ui-list__item,
    %ui-list__item {
        padding: $ui-list-padding;
        border-bottom-width: $ui-list-border-width;
    }

    /**
     * Small ui-lists.
     */
    .ui-list--small,
    %ui-list--small {

        > .ui-list__item,
        > %ui-list__item {
            padding: $ui-list-padding--small;
        }
    }

    /**
     * Large ui-lists.
     */
    .ui-list--large,
    %ui-list--large {

        > .ui-list__item,
        > %ui-list__item {
            padding: $ui-list-padding--large;
        }

    }