/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

/*doc
---
title: Settings
name: settings
category: Settings
---

Global variables used elsewhere in the framework.

## Type

### Base sizes

Setting             | Default value
------------------- | -------------------
`$base-font-family` | `"proxima-nova", sans-serif`
`$base-font-size`   | `16px`
`$base-line-height` | `24px`

### Heading sizes

Setting                | Default value
---------------------- | -------------------
`$heading-size-tera`   | `64px`
`$heading-size-giga`   | `44px`
`$heading-size-mega`   | `36px`
`$heading-size-1`      | `32px`
`$heading-size-2`      | `26px`
`$heading-size-3`      | `22px`
`$heading-size-4`      | `18px`
`$heading-size-5`      | `16px`
`$heading-size-6`      | `14px`

### Smallprint sizes

Setting             | Default value
------------------- | -------------------
`$milli-size`       | `12px`
`$micro-size`       | `10px`


## Spacing

Setting                     | Default value
--------------------------- | ------------------------------
`$base-spacing-unit`        | `$base-line-height`
`$base-spacing-unit--small` | `round($base-line-height / 2)`
`$base-spacing-unit--large` | `round($base-line-height * 2)`


## Brand

Setting             | Default value
------------------- | -------------------
`$brand-round`      | `5px`
`$brand-shadow`     | `0 2px 5px -2px $base-ui-color`


## Colors

### Base colors

Setting                    | Default value
-------------------------- | -------------
`$base-text-color`         | `#3a4149`
`$base-background-color`   | `#fff`

### Brand colors

Setting                    | Default value
-------------------------- | -------------------
`$base-brand-color`        | `#63BCCA`
`$secondary-brand-color`   | `#b1e0ec`

### UI colors

Setting              | Default value
-------------------- | -------------------
`$base-ui-color`     | `#d4d3ce`
`$light-ui-color`    | `#f3efe6`
`$dark-ui-color`     | `#a1a098`

### State

Setting              | Default value
-------------------- | -------------------
`$warning-color`     | `#ffe8aa`
`$error-color`       | `#f5b7ab`
`$success-color`     | `#c5e5de`


### Topic colors

Setting                 | Default value
----------------------- | --------------------------------------------------
`$decisions-color`      | <span class="decisions-color">`#e45447`</span>
`$development-color`    | <span class="development-color">`#f17842`</span>
`$dynamics-color`       | <span class="dynamics-color">`#f2a142`</span>
`$excellence-color`     | <span class="excellence-color">`#e4cd2b`</span>
`$finance-color`        | <span class="finance-color">`#4364a6`</span>
`$fundraising-color`    | <span class="fundraising-color">`#547353`</span>
`$governance-color`     | <span class="governance-color">`#009ca6`</span>
`$innovation-color`     | <span class="innovation-color">`#0098a5`</span>
`$investment-color`     | <span class="investment-color">`#367f9f`</span>
`$leadership-color`     | <span class="leadership-color">`#9acd77`</span>
`$legal-color`          | <span class="legal-color">`#6d4f99`</span>
`$marketing-color`      | <span class="marketing-color">`#a4469c`</span>
`$performance-color`    | <span class="performance-color">`#d34887`</span>
`$relationships-color`  | <span class="relationships-color">`#cb496b`</span>
`$risk-color`           | <span class="risk-color">`#994e5a`</span>
`$strategy-color`       | <span class="strategy-color">`#785847`</span>
`$technology-color`     | <span class="technology-color">`#4c566c`</span>


## Reponsive

Setting              | Default value
-------------------- | -------------------
`$lap-start`         | `481px`
`$desk-start`        | `1024px`

*/


/*------------------------------------*\
    #TYPE
\*------------------------------------*/
/**
 * Base sizes
 */
$base-font-family:      "proxima-nova", sans-serif !default;
$base-font-size:        16px !default;
$base-line-height:      24px !default;



/**
 * Heading sizes
 */
$heading-size-tera:     64px !default;
$heading-size-giga:     44px !default;
$heading-size-mega:     36px !default;
$heading-size-1:        32px !default;
$heading-size-2:        26px !default;
$heading-size-3:        22px !default;
$heading-size-4:        18px !default;
$heading-size-5:        16px !default;
$heading-size-6:        14px !default;



/**
 * Smallprint sizes
 */
$milli-size:            12px !default;
$micro-size:            10px !default;


/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Base spacing
 */
$base-spacing-unit:             $base-line-height !default;
$base-spacing-unit--small:      round($base-line-height / 2) !default;
$base-spacing-unit--large:      round($base-line-height * 2) !default;



/*------------------------------------*\
    #BRAND
\*------------------------------------*/
$brand-round:   5px !default;
$brand-shadow:  0 2px 7px -2px rgba(0,0,0,0.35) !default;


/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/**
 * Base colors
 */
$base-text-color:           #3a4149 !default;
$base-background-color:     #fff !default;



/**
 * Brand colors
 */
$base-brand-color:          #63BCCA !default;
$secondary-brand-color:     #b1e0ec !default;


/**
 * State colors
 */
$warning-color:             #ffe8aa !default;
$error-color:               #f5b7ab !default;
$success-color:             #c5e5de !default;



/**
 * UI colors
 */
$base-ui-color:             #d4d3ce !default;
$light-ui-color:            #f3efe6 !default;
$dark-ui-color:             #a1a098 !default;



/**
 * Topic colors
 */
$decisions-color:           #e45447 !default;
$development-color:         #f17842 !default;
$dynamics-color:            #f2a142 !default;
$excellence-color:          #e4cd2b !default;
$finance-color:             #4364a6 !default;
$fundraising-color:         #547353 !default;
$governance-color:          #009ca6 !default;
$innovation-color:          #0098a5 !default;
$investment-color:          #367f9f !default;
$leadership-color:          #9acd77 !default;
$legal-color:               #6d4f99 !default;
$marketing-color:           #a4469c !default;
$performance-color:         #d34887 !default;
$relationships-color:       #cb496b !default;
$risk-color:                #994e5a !default;
$strategy-color:            #785847 !default;
$technology-color:          #4c566c !default;



/*------------------------------------*\
    #RESPONSIVE
\*------------------------------------*/
/**
 * Breakpoints
 */
$lap-start:         481px  !default;
$desk-start:        1024px !default;
