/*------------------------------------*\
    #POLAR-AREA-CHART
\*------------------------------------*/

/*doc
---
title: Polar Area Chart
name: polar-area-chart
parent: chart
---

```html_example
<div class="chart">
    <canvas id="polarAreaChart" height="450" width="860"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = [
            {
                value: 300,
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "Red"
            },
            {
                value: 50,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Green"
            },
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Yellow"
            },
            {
                value: 40,
                color: "#949FB1",
                highlight: "#A8B3C5",
                label: "Grey"
            },
            {
                value: 120,
                color: "#4D5360",
                highlight: "#616774",
                label: "Dark Grey"
            }
        ];

        var context = document.getElementById('polarAreaChart').getContext('2d');
        var polarAreaChart = new Chart(context).PolarArea(data);
    });
</script>
```

*/

