/*------------------------------------*\
    #CHART
\*------------------------------------*/

/*doc
---
title: Chart
name: chart
category: Components
---

Charts should be wrapped in a `div` with the `.chart` class to ensure they
take the full width of their parent, but don't make their parent wider.

```
<div class="chart">
    <canvas id="myChart" height="450" width="860"></canvas>
</div>
```

*/

.chart {
    width: 100%;
    -webkit-font-smoothing: antialiased;

    canvas {
        max-width: 100%;
    }
}