/*------------------------------------*\
    #Doughnut-CHART
\*------------------------------------*/

/*doc
---
title: Doughnut Chart
name: doughnut-chart
parent: chart
---

```html_example
<div class="chart">
    <canvas id="doughnutChart" height="450" width="860"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = [
            {
                value: 300,
                color:"#F7464A",
                highlight: "#FF5A5E",
                label: "Red"
            },
            {
                value: 50,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Green"
            },
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "Yellow"
            }
        ];

        var context = document.getElementById('doughnutChart').getContext('2d');
        var doughnutChart = new Chart(context).Doughnut(data);
    });
</script>
```

*/

