/*------------------------------------*\
    #RADAR-CHART
\*------------------------------------*/

/*doc
---
title: Radar Chart
name: radar-chart
parent: chart
---

```html_example
<div class="chart">
    <canvas id="radarChart" height="450" width="860"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = {
            labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 90, 81, 56, 55, 40]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 96, 27, 100]
                }
            ]
        };

        var context = document.getElementById('radarChart').getContext('2d');
        var radarChart = new Chart(context).Radar(data);
    });
</script>
```

*/

