/*------------------------------------*\
    #HELPERS
\*------------------------------------*/

/*doc
---
title: Helpers
name: helpers
category: Trumps
---

## Floats

Modifier         | Class
---------------- | -------------------
Left float       | `float--right`
Right float      | `float--left`
Remove float     | `float--none`

## Text

### Alignment

Modifier         | Class
---------------- | -------------------
Left align       | `text--left `
Right align      | `text--right`
Center           | `text--center`

### Font weights

Modifier         | Class
---------------- | -------------------
Normal (300)     | `weight--normal`
Medium (500)     | `weight--medium`
Bold (700)       | `weight--bold`

### Capitals

Modifier         | Class
---------------- | -------------------
Capitals         | `caps`

## Accessibility
Hide content off-screen without resorting to `display:none;`, also provide
breakpoint specific hidden elements.

```
<div class="visuallyhidden">
    <!-- Hidden on all breakpoints -->
</div>

<div class="lap-and-up-visuallyhidden">
    <!-- Hidden on lap and desk -->
</div>

<div class="palm-visuallyhidden">
    <!-- Hidden on palm -->
</div>
```

## Brand round

Modifier         | Class
---------------- | ------------------
All sides        | `brand-round`
Top side         | `brand-round--top`
Bottom side      | `brand-round--bottom`
Left side        | `brand-round--left`
Right side       | `brand-round--right`

## Brand shadow

Modifier         | Class
---------------- | ------------------
Default          | `brand-shadow`

*/

/**
 * Add/remove floats
 */
.float--right { float:right !important; }
.float--left  { float:left  !important; }
.float--none  { float:none  !important; }



/**
 * Text alignment
 */
.text--left   { text-align: left   !important; }
.text--center { text-align: center !important; }
.text--right  { text-align: right  !important; }



/**
 * Font weights
 */
.weight--normal { font-weight: 300 !important; }
.weight--medium { font-weight: 500 !important; }
.weight--bold { font-weight: 700 !important; }


/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps {
    text-transform:uppercase!important;
}



/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
@mixin accessibility($namespace: "") {
    .#{$namespace}accessibility,
    .#{$namespace}visuallyhidden,
    %#{$namespace}accessibility,
    %#{$namespace}visuallyhidden {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
    }
}

@include accessibility();

@each $state in palm, lap, lap-and-up, portable, desk {
    @include media-query(#{$state}) {
        @include accessibility("#{$state}-");
    }
}



/**
 * Brand round
 */

%brand-round,
.brand-round {
    border-radius: $brand-round;
}

%brand-round--top,
.brand-round--top {
    border-radius: $brand-round $brand-round 0 0;
}

%brand-round--bottom,
.brand-round--bottom {
    border-radius: 0 0 $brand-round $brand-round;
}

%brand-round--left,
.brand-round--left {
    border-radius: $brand-round 0 0 $brand-round;
}

%brand-round--right,
.brand-round--right {
    border-radius: 0 $brand-round $brand-round 0;
}


/**
 * Brand shadow
 */
%brand-shadow,
.brand-shadow {
    box-shadow: $brand-shadow;
}