/*------------------------------------*\
    #STATS
\*------------------------------------*/

/*doc
---
title: Statistics
name: statistics
category: Components
---


```html_example
<div class="l">
    <div class="l__item 1/3">
        <div class="chart mb-">
            <canvas id="statisticsChart" height="400" width="400"></canvas>
        </div>

        <a href="#" class="btn btn--ui btn--small btn--full mb-">Edit Quota</a>
        <p class="text--center zeta mb0">5 hours left for annual quota.</p>
    </div>

    <div class="l__item 2/3">
        <h1 class="beta">CPD Minutes</h1>

        <table class="table--cosy table--rows">
            <thead>
                <tr class="text--left">
                    <th>Topic Area</th>
                    <th>Completed</th>
                    <th data-tooltip="Points you've earned, but haven't completed the pathway for.">Pending</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Leadership</td>
                    <td>240 minutes</td>
                    <td>40 minutes</td>
                </tr>

                <tr>
                    <td>Finance</td>
                    <td>120 minutes</td>
                    <td>20 minutes</td>
                </tr>

                <tr>
                    <td>Marketing</td>
                    <td>180 minutes</td>
                    <td>60 minutes</td>
                </tr>

                <tr>
                    <td>Decisions</td>
                    <td>50 minutes</td>
                    <td></td>
                </tr>
            </tbody>

            <tfoot>
                <tr class="text--left">
                    <th>Total</th>
                    <td>590 minutes</td>
                    <td>120 minutes</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var data = [
            {
                value: 240,
                color: Mentor.settings.leadershipColor,
                highlight: Mentor.settings.leadershipColor,
                label: 'Decisions'
            },
            {
                value: 120,
                color: Mentor.settings.financeColor,
                highlight: Mentor.settings.financeColor,
                label: 'Development'
            },
            {
                value: 180,
                color: Mentor.settings.marketingColor,
                highlight: Mentor.settings.marketingColor,
                label: 'Dynamics'
            },
            {
                value: 50,
                color: Mentor.settings.decisionsColor,
                highlight: Mentor.settings.decisionsColor,
                label: 'Excellence'
            },
            {
                value: 120,
                color: Mentor.settings.darkUiColor,
                highlight: Mentor.settings.darkUiColor,
                label: 'Pending'
            },
            {
                value: 300,
                color: Mentor.settings.baseUiColor,
                highlight: Mentor.settings.baseUiColor,
                label: 'Remaining'
            }
        ];

        var context = document.getElementById('statisticsChart').getContext('2d');
        var statisticsChart = new Chart(context).Doughnut(data);
    });
</script>
```

*/