                    </div>
                </div>

                <div class="l__item 1/4">
                    <% if @blocks.length > 0 %>
                        <h1 class="dark-ui-color delta">Navigation</h1>

                        <ul class="ui-list ui-list--small">
                            <% @blocks.each do |block| %>
                                <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="l__container ph pt+">
            <p class="dark-ui-color">&copy; BetterBoards, 2014.</p>
        </div>

        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/Chart.js/Chart.js"></script>
        <script src="/bower_components/dropzone/downloads/dropzone.js"></script>

        <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <script src="/dist/scripts/vendor/redactor.js"></script>
        <script src="/dist/scripts/vendor/redactor.video.js"></script>
        <script src="/dist/scripts/vendor/redactor.table.js"></script>

        <script src="/dist/scripts/mentor.js"></script>
        <script src="/dist/scripts/mentor.alerts.js"></script>
        <script src="/dist/scripts/mentor.chart.js"></script>
        <script src="/dist/scripts/mentor.contextual-menu.js"></script>
        <script src="/dist/scripts/mentor.sheet.js"></script>
        <script src="/dist/scripts/mentor.datatables.js"></script>
        <script src="/dist/scripts/mentor.redactor.js"></script>
        <script src="/dist/scripts/mentor.upload.js"></script>
    </body>
</html>
